__pycache__
.idx
.venv
.vscode
myenv
git@github.com:bimission/adktraining.git
mcp-toolbox
adk06-oauth-api/.env
adk06a-oauth-integration-connectors/.env*
adk06b-oauth-demo-allegro/.env*
adk06b-oauth-demo-allegro/.schemas.py
adk-deployment-01-agentengine/*.html
*/*.json
result
*/*.pyc